@page "/"

<PageTitle>Fin Market (Home)</PageTitle>

<link href="css/landing.css" rel="stylesheet" />

<NavMenu />

 <main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="subtitle">Modern Finance</div>
                <div class="title">
                    Introducing <br />
                    modern finance for the future
                </div>
                <div class="description">
                    Budget your expenses and manage your finances with <br />
                    ease using our modern finance app.
                </div>

                <div class="buttons">
                    <button class="btn btn-light">Start Now</button>
                    <button class="btn btn-outline-light ms-2">Contact Sales</button>
                </div>
            </div>
            <div class="col">
                <div class="img-wrapper">
                    <img src="/images/Transaction@4x.png"
                         alt=""
                         class="img-fluid landing-img" />
                    <div class="img-overlay"></div>
                </div>
            </div>
        </div>
      </div>
</main>



