@page "/financial-tips"
<PageTitle>Fin Market (Financial Tips)</PageTitle>

<link href="css/tips.css" rel="stylesheet" />

<NavMenu />

<main>
    <div class="container">
        <div class="title">
            Wealth Wisdom for 
            <span>
                Smart Living
            </span>
        </div>

        <div class="subtitle">
            Empowering Your Financial Journey with Proven Strategies
        </div>

        <div class="row my-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">01</h2>
                        <p class="card-text">
                            Save at least 25% of each month's earnings for your future.
                        </p>
                     
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">02</h2>
                        <p class="card-text">
                            Make Three accounts for personal, living and emergency.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">03</h2>
                        <p class="card-text">
                            Consider that a big salary is not always attainable.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">04</h2>
                        <p class="card-text">
                            For a better financial future, plan your retirement early.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


