@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #23254d !important;
  height: 60px;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

.logo {
  width: 6rem;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
